.skew-left {
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
  border: 1px solid #999;
}

.skew-left a {
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.skew-right {
  -ms-transform: skewX(-20deg);
  transform: skewX(-20deg);
  border: 1px solid #999;
}

@media only screen and (min-width: 768px){
  .menu-right-end {
    margin-right: 10px;
  }

  .menu-left-end {
    margin-left: 10px;
  }
}
.skew-right a {
  -ms-transform: skewX(20deg);
  transform: skewX(20deg);
}

.hidden {
  display: none;
}

nav ul li:hover {
  background-color: #999 !important;
}

table, td {
  border: 1px solid #000;
}

#preview {
  max-width: inherit;
}

progress {
  width: 100%;
}

.menu-current {
  background-color: #DDD;
}

#login_response, #register_response, #upload_response {
  padding: 5px;
}
