/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*  css file for startpage
    Created on : 21. feb. 2020, 16.48.06
    Author     : Ahmadullah
*/

.container.content.loginfield {
    display: flex;
    justify-content: center;
    padding: 6px;
    border-color: black;
}
.loginfield input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 6px;
    margin-right: 12px;
    font-size: 12px;  
}
.loginfield input[type=password] {
    padding: 6px;
    border: none;
    margin-top: 6px;
    margin-right: 12px;
    font-size: 12px;
}
.loginfield input[type=submit] {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.container {
    display: flex;
    justify-content: center;
    background-color: orange;
    height: 500px;
    padding: 6px;
    margin: 0 auto;
}
.container.content {
    display: flex;
    justify-content: center;
    padding: 6px;
}
.header {
    display: flex;
    justify-content: center;
    background-color: yellow;
    padding: 6px;
}
.newuser {
    display: flex;
    justify-content:space-between;
    padding: 6px;
}
.newuser a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}
.newuser a:hover {
    background-color: #ddd;
    color: black;
}
/*user registration page starts here */
.userhead {
    display: flex;
    justify-content: center;
    background-color: burlywood;
    padding: 6px;
}

/*Home page style sheet*/
.Navigation {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #e9e9e9;
    padding: 6px
}
.Navigation a{
    float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.Navigation a:hover {
  background-color: #ddd;
  color: black;
}
.Navigation a.imageupload
{
  background-color: #2196F3;
  color: white;
}
.Navigation input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
.logout {
    background-color: beige;
    color: red;
}

.Images {
    display: flex;
    overflow: hidden;
    padding: 6px;
    height: 520px;
    background-color: greenyellow;
}
/* Upload page style*/
.upnav {
    display: flex;
    overflow: hidden;
    padding: 6px;
    height: 520px;
    background-color: gold;
}
.upimage{
    display: flex;
    overflow: hidden;
    padding: 6px;
    background-color: beige;
}
.upimage a:hover{
  background-color: #ddd;
  color: black;
}

#output { /*size of image shown here*/
    width: 250px;
}
.table, th, td {
    border: 1px solid black;
}
