/* @import 'background.css'; */

.registerBody #registerBody {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.inner_register_form_container {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background: rgba(86, 88, 233, 0.8);
    border-radius: 10px;
    width: 65%;
    height: 100%;
    height: auto;
    /* left: 20%;
    top: 35%; */
    padding: 16px;
    margin: 50px auto;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.inner_register_form_container:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.inner_register_form_container label {
    background: none;
    /*  display: table-cell; */
    text-align: center;
}

.inner_register_form_container input {
    display: table-cell;
    text-align: center;
}


/*
.inner_register_form_container h1 {
    background: none;
}

.inner_register_form_container p {
    background: none;
}

.inner_register_form_container span {
    background: none;
}

.inner_register_form_container a {
    background: none;
}

.inner_register_form_container i {
    background: none;
} */


/* input[type=text],
input[type=password],
input[type=email],
input[type=tel] {
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: 16px;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    font-size: 16px;
} */

hr {
    border: 1px solid #000000;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: rgb(48, 48, 48);
    color: white;
    background: rgb(45, 45, 160);
    padding: 16px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 3;
    color: green;
}


/* #messageWarning {
    position: absolute;
    word-wrap: break-word;
    width: inherit;
    height: 50px;
    background: red;
    margin: 5px;
    text-align: center;
}

#messageWarning b {
    background: red;
}

#messageWarningsmall {
    position: absolute;
    word-wrap: break-word;
    width: inherit;
    height: 20px;
    background: red;
    margin: 5px;
    text-align: center;
}

#messageSuccess {
    position: absolute;
    word-wrap: break-word;
    width: inherit;
    height: 20px;
    background: forestgreen;
    margin: 5px;
    text-align: center;
} */