@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

body{
    font-family: 'Alegreya Sans', sans-serif;
    overflow-y: hidden;
}

.nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: .7s;    
}

.nav ul{
    padding: 0;
}

.nav li:hover{
    border-left: 9px solid #3e84c1;
    background-color: #34383d;
}

.nav a {
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: #ccc;
}
.nav a:hover{
    color: #fff;
    transition: 0.4s;
}

.nav .close{
    position: absolute;
    top: 0;
    right: 22px;
    margin-left: 50px;
    font-size: 30px;
}
.slide a{
    color: #000;
    font-size: 36px;
}
#content{
    padding: 20px;
    transition: margin-left 0.7s;
    overflow: hidden;
}

.inner-class{
    
}