<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Odin's Blog</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/dashboard.css">

</head>
<body>

<div class="topnav" id="dashboardTopNav">
    <ul>
        <li id="dashboard" class="active"><a href="#" id="link_dashboard">Feed</a></li>
        <li id="upload"><a href="#" id="link_upload">Upload Image</a></li>
        <li id="users"><a href="#" id="link_users">Users</a></li>
        <li id="logout"><a href="#" id="link_logout">Log Out</a></li>
    </ul>
</div>


<div id="main_content">

</div>


<script type="text/javascript" src="../js/dashboard.js"></script>
</body>
</html>