div#form {
    width: 50%;
    margin: auto;
    background: aqua;
}

.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}