.nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;
  }
  
  .nav ul {
    padding: 0;
  }
  
  .nav li:hover {
    border-left: 9px solid #3e84c1;
    background-color: #34383d;
  }
  
  .nav a {
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: #ccc;
  }
  .nav a:hover {
    color: #fff;
    transition: 0.4s;
  }