@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:800");
@import "modal.css";
@import "login.css";
@import "nav.css";


@media only screen and (min-width: 1000px) {
}

@media only screen and (max-width: 1000px) {
  .inner-wrapper{
      grid-template-columns: repeat(auto-fit, minmax(30em, 1fr)) !important;
  }
  #title{
      font-size: 4vw !important;
  }
  .nested > div {
    font-size: 3vw !important;
  }
  .nested > div h3 {
    font-size: 5vw !important;
  }
  .nested > p {
    font-size: 2vw !important;
  }
  .slide a {
    font-size: 8vw !important;
  }
  .nav .close {
    font-size: 8vw !important;
}
.nav a {
    font-size: 8vw !important;
  }

 

}

body {
  font-family: "Alegreya Sans", sans-serif;
}



.slide a {
  color:#4c6ef5;
  font-size: 36px;
}
#content {
  padding: 20px;
  transition: margin-left 0.7s;
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(900px, 1fr));
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  grid-auto-flow: row;
  grid-template-areas:
    "title"
    "text";
}
.inner-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-gap: 1em;
  grid-area: text;
}

.wrapper > div {
  background-color: lightcoral;
  padding: 1em;
}
.wrapper > div:nth-child(odd) {
  background-color: lightgray;
}
.inner-wrapper > div {
  background-color: lightblue;
  padding: 1em;
}
.inner-wrapper > div:nth-child(odd) {
  background-color: lightgray;
}
.nested > div {
  display: flex;
  justify-content: center;
  font-size: 2vw;
}
.nested > p {
  font-size: 1vw;
}
#title {
  grid-area: title;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  text-align: center;
}