* {
    background-color: #C1B3BD;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.userlist_wrapper {
    position: relative;
}

.userlist_table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.userlist_table td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}