* {
    background: -webkit-linear-gradient(left, #7577FA 20px, transparent 1%) center, -webkit-linear-gradient(#7577FA 20px, transparent 1%) center, #9192FB;
    background: linear-gradient(90deg, #7577FA 20px, transparent 1%) center, linear-gradient(#7577FA 20px, transparent 1%) center, #9192FB;
    background-size: 22px 22px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: rgba(86, 88, 233, 0.8);
    background: rgba(86, 88, 233, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar ul {
    background-color: rgba(86, 88, 233, 0.8);
    background: rgba(86, 88, 233, 0.8);
}

.navbar li {
    float: none;
    display: inline-flex;
    justify-content: center;
}

.navbar li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgba(86, 88, 233, 0.8);
    background: rgba(86, 88, 233, 0.8);
}

li a:hover {
    background-color: green;
}

.inner_container button {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    font-size: 17px;
    background-color: rgba(86, 88, 233, 0.8);
    background: rgba(86, 88, 233, 0.8);
}

.inner_container button:hover {
    background-color: green;
}

.userlist_wrapper {
    position: relative;
    width: 70%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    align-items: center;
}

.userlist_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.userlist_table td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background: rgb(129, 166, 214);
}

.userlist_table tr:nth-child(even) {
    background: #f2f2f2;
}

.userlist_table tr:hover {
    background: #ddd;
}

.userlist_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: rgba(86, 88, 233, 0.8);
    color: white;
}