* {
    background-color: grey;
}

div.titleText {
    margin: auto;
    width: 50%;
    padding: 10px;
}

div.titleText h1 {
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
}

canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    width: 1000px;
    height: 500px;
    display: block;
    margin: 0 auto;
}