* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

form {
    margin-top: 5%;
}

.wrapper {
    text-align: center;
    margin: 0 auto;
    padding: 25px;
}

.form-control {
    width: 30%;
    margin: 0 auto;
}

.jumbotron {
    text-align: left;
}