/* general */
body {
  background-color: #bbb;
  margin: 5px;
}

/* header */
/* loginnav */
nav.loginnav {
  background-color: gray;
  border-radius: 7px;
  padding: 0 10px;
}
nav.loginnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav.loginnav li {
  float: left;
}
nav.loginnav li:last-child {
    float: right;
}
nav.loginnav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav.loginnav a:hover {
  background-color: #aaa;
}
nav.loginnav form {
  padding: 14px 16px;
  margin: 0;
}
nav.loginnav form p {
  color: white;
  text-align: center;
  display: inline;
  padding-right: 5px;
}
nav.loginnav input {
  margin: 0;
}
@media only screen and (max-width: 790px) {
  nav.loginnav form  {
    display: none;
  }
  div.welcomme form {
    display: block;
    margin: 10px 0 0 50px;
  }
  div.welcomme form input{
    margin: 10px 0 -10px 0;
    display: block;
  }
}



div.content {
  background-color: #333;
  color: #ddd;
  margin: 15px 5px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  height: 75%;
}
div.content a {
  color: #ddd;
  text-decoration: underline;
}

/* Registration coontent */
div.registration h1 {
  margin: 5px 0;
  margin-left: 10px;
}
div.registration h3 {
  margin-top: -10px;
  margin-left: 270px;
}
div.registration form {
  margin-left: 30px;
}
div.registration form input#signup {
  margin-left: 20px;
}


/* frontpage coontent */
div.welcomme h1 {
  margin: 5px 0;
  margin-left: 10px;
}
div.welcomme h2 {
  margin: 5px 0;
  margin-left: 30px;
}
div.welcomme h3 {
  margin-top: -10px;
  margin-left: 320px;
}
div.welcomme form {
  display: none;
}



/* footer */
div.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
}
div.assignment {
  background-color: gray;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin: 5px;
  margin-bottom: 0;
  color: white;
  text-align: center;
  padding: 0 auto;
}
div.assignment p {
  margin: 0;
  padding: 10px 0;
}
div.Participants {
  background-color: gray;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin: 5px;
  margin-top: 0;
  color: white;
}
div.footer ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 80%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 10px;
  overflow: hidden;

}
div.footer  li {
  float: left;
}
