/*desktop version*/
@media (min-width: 600px) { 
.content {
    display: flex;
    justify-content: center;
    background-color: beige;
    padding: 6px;
}
.navigation {
    display: flex;
    justify-content: center;
    background-color: silver;
    padding: 6px;
}
}
/* mobile version*/
.content {
    display: flex;
    justify-content: center;
    background-color: wheat;
    padding: 6px;
}

.navigation {
    display: flex;
    justify-content: center;
    background-color: coral;
    padding: 6px;
}
