body {
    background-image: url("/rayou18_kalau17_jlaur13/mvc/public/Resources/landingp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-attachment: fixed;
}