body {
    background-color: #F0F0F0;
    margin: 0px;
} 
div.header { 
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #FFFFFF; 
    text-align: center;
    font-size: 1vw;
    overflow: hidden;
    width: 100%;
}
nav.menu {
    background-color: #FFFFFF;
    padding = 10 px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    max-width: 1000px; 
    margin: 0 auto;
}
.menu a {
    float: left;
    color: black;
    text-align: center;
    padding: 0.5vw;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 2px;
}
.menu a:hover {
    background-color: #DEDEDE;
    color: black;
} 
.menu a.active { 
    background-color: #0073d7; 
    color: white;
}
.menu a.active:hover {
    opacity: 0.9;
}

div.wrapper {
    background-color: #F0F0F0;
    height: 100%;
    width: 100%;
}
div.frame {
    width: 100%;
    height: 500px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #FFFFFF;
    text-align: Left;
    padding-top:20px;
}
div.content {
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif; 
}
div.content table, th, td {
    padding-left: 5px;
    padding-right: 5px;
}
div.content a{
    text-decoration: none;
}
div.login{
    text-align: center;
    margin: 0 auto;
}
div.login input {
    width: 20%;
    padding: 7px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
div.login input:hover {
    border: 1px solid #0073d7;
}
div.login input:focus {
    border: 1px solid #0073d7;
}
div.login #username,#password {
    color: #505050;
    font-family: Arial, Helvetica, sans-serif;
}
div.login button {
    border-radius: 2px;    
    padding: 10px;
    margin: 5px 0;
    width: 10%;
    background-color: #0073d7;
    border: none; 
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
}
div.login button:hover {
    opacity: 0.9;
}
div.registration {
    text-align: center;
    margin: 0 auto;
}
div.registration input {
    width: 20%;
    padding: 7px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
div.registration input:hover {
    border: 1px solid #0073d7;
}
div.registration input:focus {
    border: 1px solid #0073d7;
}
div.registration #username,#password {
    color: #505050;
    font-family: Arial, Helvetica, sans-serif;
}
div.registration button {
    border-radius: 2px;    
    padding: 10px;
    margin: 5px 0;
    width: 10%;
    background-color: #0073d7;
    border: none; 
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
}
div.registration button:hover {
    opacity: 0.9;
}
div.upload {
    display: none;
}
div.upload input[type=submit], .selectFile{
    border-radius: 2px;    
    padding: 10px;
    width: 130px;
    background-color: #0073d7;
    border: none; 
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    margin: 10px 0 0 0 ;
}
div.upload input[type=submit]:hover, .selectFile:hover {
    opacity: 0.9;
}
input[type=file] {
    display: none;
}
div.upload input[type=text],textarea {
    width: 20%;
    padding: 7px 10px;
    margin: 0 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
div.upload input[type=text]:hover,textarea:hover{
    border: 1px solid #0073d7;
}
div.upload input[type=text]:focus,textarea:focus{
    border: 1px solid #0073d7;
}
div.upload #image_header,#image_description {
    color: #505050;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
div.upload table {
    width: 100%;
}
.upload_btn {
    border-radius: 2px;    
    padding: 10px;
    width: 130px;
    background-color: #0073d7;
    border: none; 
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
}
.upload_ptn {
    opacity: 0.9;
}

