/**************** MESSAGES *****************/
.modal.comment .col-card .card {
  display: block;
  margin: auto;
  width: 80% !important;
  min-width: 18rem !important;
}
.modal.comment .col-comment {
  color: black;
  background-color: #aaa;
}

.modal.comment .col-card,
.modal.comment .col-comment {
  overflow: auto;
  height: 100%;
}
.col-comment .modal-body.overflow-handling {
    overflow: auto;
    height: 80%;
}
@media only screen and (max-width: 767px) {
  .modal.comment .col-card,
  .modal.comment .col-comment {
    height: 50%;
  }
  .col-comment .modal-body.overflow-handling {
      height: 50%;
  }
}


/* Message Item */
.msg {
    padding: 8px 10px 5px;
    background-color: #1e90ff;
    width: 350px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    margin-bottom: 10px;
}
.msg.you {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0px;
  background-color: #2dda55;
  margin-left: auto;
}
.msg::after {
  content: " ";
  position: absolute;
  margin-left: -30px;
  margin-top: -15px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #1e90ff transparent transparent;
}
.msg.you::after {
  left: 100%;
  margin-left: -17px;
  border-color: transparent transparent transparent #2dda55;
}
.msg-by-User {
  display: block;
  color: rgba(0,0,0,0.5);
}
.msg-time {
  float: right;
  color: rgba(0,0,0,0.5);
}
.msg-comment {
  white-space: pre-wrap;
  margin: 10px;
}
