/**************** MESSAGES *****************/
/* Message Item */
.msg {
    padding: 8px 10px 5px;
    border-top: 1px solid #ddd;
}
/* Message Sender */
.message-wrap .media-heading {
    color: #2285b3;
    font-weight: 700;
}
/* Message Time */
.time {
    color: grey;
}
.footer-comment {
  position: absolute;
  bottom: 0;
}
.overflow-handling {
    overflow: auto;
    max-height: 80%;
}
.whitespace-conserver {
    white-space: pre-wrap;
}