/**************** MESSAGES *****************/
.modal.comment .col-card .card {
  display: block;
  margin: auto;
}
.modal.comment .col-comment {
  color: black;
  background-color: #aaa;
}

.modal.comment .col-card,
.modal.comment .col-comment {
  overflow: auto;
  height: 100%;
}
.col-comment .modal-body.overflow-handling {
    overflow: auto;
    height: 80%;
}
@media only screen and (max-width: 767px) {
  .modal.comment .col-card,
  .modal.comment .col-comment {
    height: 50%;
  }
  .col-comment .modal-body.overflow-handling {
      height: 50%;
  }
}


/* Message Item */
.msg {
    padding: 8px 10px 5px;
    border: 1px solid #ddd;
    background-color: #1e90ff;
    width: 350px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.msg.you {
  background-color: #2dda55;
  margin-left: auto;
}
/* Message Sender */
.message-wrap .media-heading {
    color: rgba(0,0,0,0.5);
    font-weight: 700;
}
/* Message Time */
.time {
    color: rgba(0,0,0,0.5);
}

.whitespace-conserver {
    white-space: pre-wrap;
}

.modal.comment .col-card .card {
  width: 80% !important;
  min-width: 18rem !important;
}
