/* general */
body {
  background-color: #bbb;;
  padding: 75px 0;
  color: white;
}
body a {
  color: rgba(255,255,255,.5);
  text-decoration: underline;
}
body a:hover {
  color: rgba(255,255,255,.75);
}
nav
.form-inline {
  margin: 4px 0;
}
nav .navbar-brand {
  padding: 0;
  margin: -20px 10px -20px 0;
}
.custom-nav-collapse-show,
nav .custom-nav-collapse {
  display: none;
}
@media only screen and (max-width: 990px) {
nav  .custom-nav-collapse {
    display: inline;
    margin-top: 2px;
  }
}
@media only screen and (max-width: 760px) {
nav .custom-nav-collapse {
    display: none;
  }
  .custom-nav-collapse-show {
    display: block;
  }
}

section div.jumbotron {
  padding: 32px 16px;
  background-color: #333;
}
section div.custom-container{
  padding: 20px 0;
  background-color: #333;
  border-radius: 5px;
}
section div.page form div.input-group {
  margin-bottom: 10px;
}

.card {
  background-color: #333;
  margin: 0 15px 15px 0;
  border-radius: 15px;
  border: 2px solid #333;
  display: inline-block;
  vertical-align: top;
}
.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border: 2px solid #FFF;
}
.card-body {
  padding-bottom: 0;
}
.card-footer {
  padding-top: 0;
}

.card.new {
  display: block;
  margin: 0 auto;
}
.card.new i.card-img-top.fas {
  font-size: 200px;
  text-align: center;
  background-color: #eee;
  color: rgba(0,0,0,0.5);
  border: 5px solid rgba(0,0,0,0.5);
}
.card.new .card-body input,
.card.new .card-body textarea {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 5px;
  border: 1px dashed rgba(255,255,255,.5);
}
.card.new .card-body input::placeholder,
.card.new .card-body textarea::placeholder {
      color: rgba(255,255,255,0.8)
}

.card.new .card-body input {
  margin-bottom: 16px;
}


.modal-content {
  color: black;
  background-color: #aaa;
}
.modal-content hr,
.modal-footer {
  border-top: 1px solid black;
}
.modal-header {
  border-bottom: 1px solid black;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Picturecontainer and deletebtn stuff */
div.picturecontainer {
  transition: all .2s ease-out;
  overflow: hidden; }/*
  width: 450px;
  height: 220px;
  background-color: gray;
  border-radius: 7px;
  display: inline-block;
  float: left;
  margin: 0 15px 15px 0;
  padding: 5px;
} /**/
div.picturecontainer:hover {
  transform: scale(1.05);
}
.deleteBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  transition: all 0.2s ease;
}
.X1, .X2 {
  width: 5px;
  height: 20px;
  background-color: black;
  border-radius: 5px;
  opacity: 0;
}
.X1 {
  transform: translate(-550px, 0) rotate(90deg);
}
.X2 {
  transform: translate(7px, 310px);
}


.center {
  text-align: center;
}

/* chalkbord logo */
.chalkboard {
  display: inline-block;
}
.chalkboard h1.brand {
  display: inline-block;
  font-size: 24px ;
  font-weight: bold;
  margin: 5px 0;
}
.chalkboard h1.icon {
  margin: 0 -5px 10px;
}
.chalkboard h2.version {
  font-size: 12px;
  font-weight: bold;
  margin-top: -10px;
  text-align: right;
}


/* font awsome */
.fa-user {
    margin: 0 1px;
}
.custom-tooltip .fa-info-circle {
  font-size: 10px;
  vertical-align: top;
}
.carousel-item h1 i.fas {
  font-size: 100px;
}


/* Bootstrap */
hr {
  border-top: 1px solid rgba(255,255,255,0.5);
}

.costum-mt-32 {
  margin-top: 32px;
}
