/* general */
body {
  background-color: #bbb;
}
nav {
  background-color: gray;
}
.navbar-light .navbar-toggler  {
  margin-left: 10px;
  padding: 0 8px !important;
}
.navbar-light .navbar-nav .nav-link{
  color: rgba(0,0,0,0.7);
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: rgba(255,255,255,0.7);
}
.navbar-brand {
  padding: 0;
  margin: -20px 10px -20px 0;
}
.custom-nav-collapse-show,
.custom-nav-collapse {
  display: none;
}
nav .form-inline {
  margin: 0;
}
@media only screen and (max-width: 990px) {
  .custom-nav-collapse {
    display: inline;
  }
}
@media only screen and (max-width: 760px) {
  .custom-nav-collapse {
    display: none;
  }
  .custom-nav-collapse-show {
    display: block;
  }
}


/* chalkbord logo */
div.chalkboard {
  display: inline-block;
}
div.chalkboard h1.brand {
  display: inline-block;
  font-size: 24px ;
  font-weight: bold;
  margin: 5px 0;
}
div.chalkboard h1.icon {
  margin: 0 -5px 10px;
}
div.chalkboard h2.version {
  font-size: 12px;
  font-weight: bold;
  margin-top: -10px;
  text-align: right;

}


/* font awsome */
form .fa-user {
    margin: 0 1px;
}
