/* general */
body {
  background-color: #bbb;;
  padding: 75px 0;
  color: white;
}
body a {
  color: rgba(255,255,255,.5);
  text-decoration: underline;
}
body a:hover {
  color: rgba(255,255,255,.75);
}
nav
.form-inline {
  margin: 4px 0;
}
nav .navbar-brand {
  padding: 0;
  margin: -20px 10px -20px 0;
}
.custom-nav-collapse-show,
nav .custom-nav-collapse {
  display: none;
}
@media only screen and (max-width: 990px) {
nav  .custom-nav-collapse {
    display: inline;
    margin-top: 2px;
  }
}
@media only screen and (max-width: 760px) {
nav .custom-nav-collapse {
    display: none;
  }
  .custom-nav-collapse-show {
    display: block;
  }
}

section div.jumbotron {
  padding: 32px 16px;
  background-color: #333;
}
section div.custom-container{
  padding: 20px 0;
  background-color: #333;
  border-radius: 5px;
}
section div.page form div.input-group {
  margin-bottom: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}




.center {
  text-align: center;
}

/* chalkbord logo */
.chalkboard {
  display: inline-block;
}
.chalkboard h1.brand {
  display: inline-block;
  font-size: 24px ;
  font-weight: bold;
  margin: 5px 0;
}
.chalkboard h1.icon {
  margin: 0 -5px 10px;
}
.chalkboard h2.version {
  font-size: 12px;
  font-weight: bold;
  margin-top: -10px;
  text-align: right;
}


/* font awsome */
.fa-user {
    margin: 0 1px;
}
.custom-tooltip .fa-info-circle {
  font-size: 10px;
  vertical-align: top;
}
.carousel-item h1 i.fas {
  font-size: 100px;
}

hr {
  border-top: 1px solid rgba(255,255,255,0.5);
}
