body {
  background-color: lightblue;
}

h1 {
  color: #4442a4;
  text-align: center;
}

p {
  font-family: arial;
  font-size: 12px;
}

form {
  background-color: #3CBC8D;
  margin: auto;
  border-radius: 4px;
  width: 50%;
}

#email {
  color: blue;

}
