body {
  background-color: #1abc9c;
}

h1 {
  color: #4442a4;
  text-align: center;
}

p {
  font-family: arial;
  font-size: 12px;
}

form {
  background-color: #2ecc71;
  margin: 0 auto;
  border-radius: 4px;
  width: 40%;
}

#email {
  color: blue;

}

.formulaire{
  background-color: #27ae60;
}
