* {
    background-color: lightgrey;
}


ul.menu {
    background-color: lightblue;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

div.center {
    display: table;
    margin: 0 auto;

}

nav {
    width: 100%;
    background-color: #55AAFF;
}

li a {
    display: block;
    background-color: #3399FF;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

li a:hover {
    background-color: #3399FF;
}

li {
    float: left;
}

div.content {
    background-color: white;
    width: 1000px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

div.person {
    width: 300px;
    background-color: blue;
    border: 6px solid darkblue;
    border-radius: 50px;
    display: inline-block;
}

div.person img {
    width: 200px;
    border: 6px solid white;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;

}

div.person p {
    color: white;
    background-color: blue;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}

