/* general */
body {
  background-color: lightgray;
  margin: 0;
}


div.content {
  background-color: white;
  max-width: 80%;
  margin: 20px auto;
  border-top: 10px solid black;
  border-left: 10px solid black;
  border-right: 10px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


/* loginnav */
nav.loginnav {
  background-color: #333;
  border-radius: 7px;
  margin: 0 5px;
}
nav.loginnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav.loginnav li {
  float: left;
}
nav.loginnav li:last-child {
    float: right;
}
nav.loginnav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav.loginnav a:hover {
  background-color: #111;
}
nav.loginnav form {
  padding: 14px 16px;
  margin: 0;
}
nav.loginnav form p {
  color: white;
  text-align: center;
  display: inline;
  padding-right: 5px;
}
nav.loginnav input {
  margin: 0;
}

/* footer */
div.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
div.assignment {
  background-color: #333;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin: 0 5px;
  color: white;
  text-align: center;
  padding: 5px auto;
}
div.assignment p {
  margin: 0;
}
div.Participants {
  background-color: #333;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin: 0 5px;
  color: white;
}
div.footer ul {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 80%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;

}
div.footer  li {
  float: left;
}
