div.header {
    padding = 10 px;
    text-align: center;
    font-size: 2vw;
}
nav.menu {
    background-color: #004400;
    height: 40px;
    width: 100%;
}
nav.menu ul {
    background-color: #006600;
    width: 20%;
    align: center;
    list-style-type: none;
}
nav.menu li {
    
}
div.wrapper {
    background-color: #EEEEEE;
    height: 100%;
    width: 100%;
}
div.content {
    width: 100%;
    height: 500px;
    max-width: 1000px;
    margin: 0 auto; 
    background-color: #FFFFFF;
}
