* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width:850px) {
    .column, body {
        width: 100%;
    }
    .sidenav ul {
        display: none;
    }
}

body {
    background-color: #d4d4d4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #555;
    font-size: 16px;
}

.container {
    margin-left: 12%;
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 2px 2px gray;
    text-align: center;
    padding: 20px;
}

.headingh1 {
    color: lightblue;
    text-transform: uppercase;
    text-shadow: 2px 2px gray;
    font-weight: bolder;
}

.sidenav {
    width: 10%;
    background-color: #f1f1f1;
    position: fixed;
    z-index: 1;
    height: 100%;
}

.sidenav li:last-child {
    position: fixed;
    bottom: 0;
    width: 10%;
}

.sidenav li:last-child a:hover {
    background-color: green;
    color: white;
}

.sidenav li a {
    display: block;
    color: gray;
    padding: 9px 18px;
    text-decoration: none;
    margin: 15px 0;
}

.sidenav li a:hover {
    background-color: #555;
    color: white;
}

.column {
    float: left;
    width: 30%;
    padding: 12px;
    height: 100%;
}

.row {
    width: 100%;
    clear: both;
}

img.avatar {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    display: block;
    margin: auto;
    padding: 10px;
}

.modal {
    top: 0;
    display: none;
    position: fixed;
    z-index: 1;
    width: 50%;
    height: 50%;
    background-color: #fefefe;
    border: 1.5px solid #555;
    border-radius: 8px;
    padding: 20px 0;
    margin: 50px auto;
    margin-left: 12%;
}

input {
    padding: 5px;
    border-radius: 3px;
    width: 100%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #555;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.btn {
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 3px;
    width: 100%;
}

.btncancel {
    background-color: red;
}

.btncancel:hover {
    background-color: darkred;
    cursor: pointer;
}

.btnsubmit {
    background-color: green;
}

.btnsubmit:hover {
    background-color: darkgreen;
    cursor: pointer;
}

i {
    padding: 5px;
}