body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
    background-color: lightgray;
}

.topnav{
    background-color: grey;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
}

.topnav ul{
    list-style-type: none;
    text-align: center;

}

/* Style the links inside the navigation bar */
.topnav li {
    color: #f2f2f2;
    text-align: center;
    padding: 9px 16px;
    font-size: 17px;
    display: inline-block;
}

/* Change the color of links on hover */
.topnav li:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav li.active {
    background-color: darkblue;
    color: white;
}


a{text-decoration: none;}
a {color:#f2f2f2;}         /* Unvisited link  */
a:visited {color:#f2f2f2;} /* Visited link    */

/*#main_content{*/
/*    text-align: center;*/
/*    -webkit-transform: translate(-50%, -50%);*/
/*    transform: translate(-50%, -50%);*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*}*/

.main_content ul{
    list-style: none;
}
.main_content li{
    text-align: left;
    color: red;
    font-weight: bold;
    padding: 10px 25px;
}

input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

input[type=button] , input[type=file]{
    margin: 10px;
}

input[type=button] {
    width: 200px;
    height: 30px;
}

input[type="file"]{
    width: 200px;
    height: 30px;
}

input[type="file"]::-webkit-file-upload-button{
    width: 200px;
    height: 30px;
}

*{
    box-sizing: border-box;
}
body{
    margin: 40px 30px ;
    backgroud: gray;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    flaot:left;
}
.container c {
    max-width: 1200px;
    margin: auto;
    background: #f2f2f2;
    overflow: auto;
}

.picture {
    margin: 5px;
    border: 3px solid #ccc;
    float: left;
    width: 390px;
}

.picture img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

.btn_next {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: fixed;
    left:3%;
    top: 90%;
}




