ul.menu {
    background-color: #3399FF;
    padding: 30px;
    width: auto;
    list-style-type: none;
    display: flex;
    overflow: auto;
}

li a {
    background-color: #3399FF;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 30px;
    margin: auto;
}

li a:hover {
    background-color: rgb(8, 111, 214);
}

div.content {
    background-color: #3399FF;
    display: flex;
    justify-content: center;
    max-width: 25%;
    padding: 10px;
}

