body {
    background-image: url("/rayou18,%20kalau17,%20jlaur13/mvc/resources/landingp.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-attachment: fixed;
}