/* Contact list */

.container_userlist {
  min-width: 50%;
  max-width: 100%;
  /*width: 360px;*/
  padding: 8% 0 0;
  margin: auto;
  text-align: center;
}

.contact_list {
  font-family: 'Montserrat';
  font-size: 95%;
  color: white;
  margin: 40px auto;
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contact_card {
  margin: 30px auto;
  background-color: #353b48;
  /*height: 40px;*/
  border-radius: 40px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;

box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.25), -1px -1px 5px 2px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.search_field {
  font-family: 'Montserrat';
  font-size: 95%;
  color: white;
}
