body{
  background-color: #3498db;
  margin: 0 0 50px 0;
}

footer {
    position: fixed;
    height: 50px;
    background-color: #2980b9;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    display:flex;

}

footer div {
  flex:1;
  text-align: center;
  color: #ecf0f1;
  margin: auto;

}

.container {
  min-width: 25%;
  max-width: 35%;
  /*width: 360px;*/
  padding: 8% 0 0;
  margin: auto;
  text-align: center;
}

.title {
  font-family: 'Montserrat';
  /* margin: 0 0 15px;*/
  padding: 15px;
  color: #ecf0f1;
  font-size: 150%;
}

.form {
  position: relative;
  /*z-index: 1;*/
  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  /*outline: 0;*/
  background: #f2f2f2;
  width: 100%;

  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  /*text-transform: uppercase;*/
  /*outline: 0;*/
  background: #4CAF50;
  width: 100%;

  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  /*-webkit-transition: all 0.3 ease;*/
  /*transition: all 0.3 ease;*/
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
/* .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
} */



/* NAVIGATION BAR */

.navbar{

}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

}

.navbar li {
  float: left;
  border-right: 1px solid #bbb;

}

.navbar li:last-child {
  border-right: none;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

/*.file-area*/
 /* .container input[type=file] {
     position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
} */

.uploadpage .container {
  min-width: 25%;
  max-width: 50%;
  /*width: 360px;*/
  padding: 0 0 0;
  margin: auto;
  text-align: center;
}


/* Image Feed */

.container_feed {
  min-width: 50%;
  max-width: 100%;
  /*width: 360px;*/
  padding: 8% 0 0;
  margin: auto;
  text-align: center;
}

.cards-list {
  margin: 40px auto;
  z-index: 0;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.card {
  margin: 80px auto;
  width: 300px;
  height: auto;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
background-color: #333;
}

.card .message{
  margin: 5px auto;
  padding: 15px;
  overflow: hidden;
  /* white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;*/
  word-wrap: break-word;
  text-align: justify;
  color: #ecf0f1;
  /* position:relative; */
}

.card .messageinfo{
  width: auto;
  padding: 10px;
  overflow: hidden;
  /* position:absolute; */
  bottom:0;
}

.card .messageinfo #first {
    /* width: 30%; */
    float:left;
    margin: 3px;

}
.card .messageinfo #second {
  color: #7f8c8d;
    float: right;
    margin: 3px;

}

.card .card_image {
  width: inherit;
  height: 300px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-top: -80px;
  height: 40px;
}

 .card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}
