body {
	background-color: lightblue;
}

h1{
	text-align: center;
}

p{
	text-align: center;
}

div3 {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}


ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 200px;
	height: 100%;
	background-color: darkgray;
	overflow: hidden;
	border-color: #777777;
	border-radius: 20px;
	border-width: 2px;
	border-style: solid;
}

li a {
	display: block;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: darkslategray;
	color: white;
}

.button{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 15px;
	border: 3px solid green;
}

/*Grid used to place different elements in right place*/
.grid-container {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	grid-template-rows: auto;
	padding: 50px;
	grid-column-gap: 50px;
	align-items: center;
	justify-items: center;
	text-align: center;
	margin: 0 auto;
}

.image-container {
	display: grid;
	width: auto !important;
	width: 100%;
	
	grid-template-colums: 1fr 1fr 1fr;
	grid-template-rows: auto;
	padding: 20px;
	align-items: center;
	justify-items: center;
}

.img {
	grid-column: auto !important;
	grid-column: 1;
	grid-row: auto;
	max-width: 256px;
	max-height: 256px;
}

.login1{
	text-align: center;
	margin: 0 auto;
	grid-column: 1 / span 4;
	grid-row: 1;
}

.login2{
	text-align: center;
	margin: 0 auto;
	grid-column: 2 / span 2;
	grid-row: 2;
}

.login3{
	text-align: center;
	margin: 0 auto;
	grid-column: 2;
	grid-row: 3;
}

.login4{
	text-align: center;
	margin: 0 auto;
	grid-column: 3;
	grid-row: 3;
}

.register1{
	display:none;
	grid-column: 2 / span 2;
	grid-row: 2;
	text-align: center;
	margin: 0 auto;
	align-items: center;
	justify-items: center;
}

.grid-container2{
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr;
	grid-template-rows: auto;
	padding: 50px;
	grid-column-gap: 50px;
	align-items: top;
	justify-items: center;
	text-align: center;
	margin: 0 auto;
}

.header{
	text-align: center;
	margin: 0 auto;
	grid-column: 2 / span 3;
	grid-row: 1;
}

.homepage1{
	grid-column: 1;
	grid-row: 2;
	
	
}

.homepage2{
	grid-column: 2 / span 3;
	grid-row: 2 / span 2;
}

.homepage3{
	grid-column: 1;
	grid-row: 3;
}
