body {
	background-color: lightblue;
}

h1{
	text-align: center;
}

p{
	text-align: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	height: 100%;
	background-color: darkgray;
	position: fixed;
	overflow: auto;
}

li a {
	display: block;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: darkslategray;
	color: white;
}

button{
	color: black;
	background-color: red;
	padding: 20px;
	border-radius: 15px;
	width:150px;
	border: 3px solid green;
}

/*Grid used to place different elements in right place*/
.grid-container {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	grid-template-rows: auto;
	padding: 50px;
	grid-column-gap: 50px;
	align-items: center;
	justify-items: center;
	text-align: center;
	margin: 0 auto;
}

.login1{
	text-align: center;
	margin: 0 auto;
	grid-column: 1 / span 4;
	grid-row: 1;
}

.login2{
	text-align: center;
	margin: 0 auto;
	grid-column: 1 / span 4;
	grid-row: 2;
}

.login3{
	text-align: center;
	margin: 0 auto;
	grid-column: 2;
	grid-row: 3;
}

.login4{
	text-align: center;
	margin: 0 auto;
	grid-column: 3;
	grid-row: 3;
}

.register{
	display:none;
	z-index: 1;
	text-align: center;
	margin: 0 auto;
	align-items: center;
	justify-items: center;
}

.grid-container2{
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	grid-template-rows: auto;
	padding: 50px;
	grid-column-gap: 50px;
	align-items: center;
	justify-items: center;
	text-align: center;
	margin: 0 auto;
}

.header{
	text-align: center;
	margin: 0 auto;
	grid-column: 1 / span 4;
	grid-row: 1;
}

