body {
	background-color: lightgrey;
}
.Menu {
    text-align: center;
    height: 100px;
}
.Menu li a {
    display: block;
    background-color: blue;
    color: white;
    padding: 35px;
    text-decoration: none;
}
.Menu li a:hover {
    background-color: purple;
}
.Menu li {
    float: left;
    text-decoration: none;
}
ul.menu-bar {
    background-color: lightgrey;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
      
}
.content {
    background-color: rgb(180, 35, 35);
    text-align: center;
    
} 
