<!DOCT••••••YPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/gif" href="favicon.ico"/>
    <title> Odin's Blog</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/loginStylesheet.css">
</head>
<body>

<form class="login-form" method="post">
    <div class="login-form-container">
      
        <h1>Odin's Blog</h1>
        
        <ul id="login-messages">

        </ul>

        <div class="textbox">
            <i class="fas fa-user"></i>
            <input type="text" id="username" name="username" placeholder="Username">
        </div>

        <div class="textbox">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" name="password" placeholder="Password">
        </div>

        <div class="buttons-container">
            <input type="button" class="btn1" id="login" name="login" value="Log In">
            <h2><span>or</span></h2>
            <a href="registration.html"><input type="button" class="btn" id="register" name="register" value="Register"></a>
        </div>
    </div>
</form>

<script type='text/javascript' src="../js/login.js"></script>
</body>
</html>