* {
    background-color: lightgrey;
}


ul.menu {
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #55AAFF;
}

#picture {
    background-color: #55AAFF;
}
#users{
    background-color: #3399FF;
}
#icon{
    color: yellow;
    background-color: #55AAFF;
    font-size: 350%;
    text-align: right;
    background-position: 100%;
    padding-right: 0.6em;

}
div.center {
    display: table;
    margin: 0 auto;

}

nav {
    width: 100%;
    background-color: #55AAFF;
}

li a {
    display: block;
    background-color: #3399FF;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}

li a:hover {
    background-color: #3399FF;
}

li {
    float: left;
}

div.wrapper {
    padding: 15px;
}
div.content {
    background-color: white;
    width: 1000px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

div.person {
    width: 300px;
    background-color: #55AAFF;
    border: 6px solid #3399FF;
    border-radius: 50px;
    display: inline-block;
    margin: 5px;
}

div.person img {
    width: 200px;
    border: 6px solid white;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;

}

div.person p {
    color: white;
    background-color: #55AAFF;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    margin: 15px;
}

