body{
    margin: 0;
    padding: 0;
    background: #025779;
}
.sign-div{
    width: 300px;
    padding: 20px;
    text-align: center;
    background: #487eb0;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border-radius: 10px;
}
.sign-div h1{
    margin-top: 50px;
    color: #fff;
    font-size: 40px;

}
.sign-div input{
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "montserrat",sans-serif;
}
.sign-text{ 
    margin:8px;
    background: rgba(255,255,255,5);
    border-radius: 6px;
}
.sign-btn{
    margin-top: 15px;
    margin-bottom: -10px;
    background: #025779;
    color: #fff;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
}
.sign-btn:hover{
    transform:scale(0.96);
}
.sign-div a{
    text-decoration: none;
    color: #fff;
    margin-top: 25px;
    font-family: "montserrat", sans-serif;
    font-size: 14px;
    padding: 10px;
    transition: 0.8s;
    display: block;
}
.sign-div a:hover{
    background: rgba(0,0,0,.3);
}
